{# resources/views/layouts/main.twig #}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
        <!-- Styles / Scripts -->
        {% if file_exists(public_path('build/manifest.json')) or file_exists(public_path('hot')) %}
            {{ vite(['resources/css/app.css', 'resources/js/app.js']) }}
        {% else %}
            <style>
                {% block styles %}{% endblock %}
            </style>
        {% endif %}
</head>
<body class="bg-[#FDFDFC] dark:bg-[#0a0a0a] text-[#1b1b18] flex p-6 lg:p-8 items-center lg:justify-center min-h-screen flex-col">

    <header class="w-full lg:max-w-4xl max-w-[335px] text-sm mb-6 not-has-[nav]:hidden">
        {% if loginRouteExists %}
            <nav class="flex items-center justify-end gap-4">
                {% if isAuthenticated %}
                    <a
                        href="{{ url('/dashboard') }}"
                        class="inline-block px-5 py-1.5 dark:text-[#EDEDEC] border-[#19140035] hover:border-[#1915014a] border text-[#1b1b18] dark:border-[#3E3E3A] dark:hover:border-[#62605b] rounded-sm text-sm leading-normal"
                    >
                        Dashboard
                    </a>
                {% else %}
                    <a
                        href="{{ route('login') }}"
                        class="inline-block px-5 py-1.5 dark:text-[#EDEDEC] text-[#1b1b18] border border-transparent hover:border-[#19140035] dark:hover:border-[#3E3E3A] rounded-sm text-sm leading-normal"
                    >
                        Log in
                    </a>

                    {% if registerRouteExists %}
                        <a
                            href="{{ route('register') }}"
                            class="inline-block px-5 py-1.5 dark:text-[#EDEDEC] border-[#19140035] hover:border-[#1915014a] border text-[#1b1b18] dark:border-[#3E3E3A] dark:hover:border-[#62605b] rounded-sm text-sm leading-normal">
                            Register
                        </a>
                    {% endif %}
                {% endif %}
            </nav>
        {% endif %}
    </header>

    <main id="main" class="flex items-center justify-center w-full transition-opacity opacity-100 duration-750 lg:grow starting:opacity-0">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    {% if loginRouteExists %}
        <div class="h-14.5 hidden lg:block"></div>
    {% endif %}
    <footer id="footer" class="mt-auto py-3 bg-light">
        <div class="container">
            <div class="row text-muted">
                <div class="col-md-6 text-center text-md-start">&copy; Oleksandr Nosov, {{ "now"|date("Y") }}</div>
                <div class="col-md-6 text-center text-md-end">Powered by <a href="https://laravel.com/" rel="external">Laravel</a> / <a href="https://twig.symfony.com/" rel="external">Twig</a></div>
            </div>
        </div>
    </footer>

</body>
</html>
